body {
	background: #ececec url(../images/sos.png)repeat;
	font-size: 87.5%;
	font-family: arial, sans-serif;
	color: #666;
	line-height: 1.7em;
	text-align: left;
}

/*2 styling link*/
a {
	text-decoration: none;
	color: #781a26;
}

a:hover {
	#color: #666;
}

h2 {
	color: #781a26;
}

.clr{
	clear: both;
}



/*1 create a fluid layout*/

#container{
	width: 80%;
	margin: 0 auto;
	overflow: auto;
}

/*resize logo image*/
.main-header #logo {
	width: 80%;
	margin: 10px 0;
}

/*style main navbar*/
.main-nav{
	background: #882433;
	height: 40px;
	border-radius: 5px;
	border: 1px #c13046 solid;
}

.main-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-nav li{
	color: #FFFFFF;
	display: inline;
	float: left;
	margin-right: 3px;
}

.main-nav li a{
	color: #fff;
	display: inline-block;
	padding: 10px 20px;
	height: 20px;
}

.main-nav li a:hover, .main-nav li a.active{
	background: #efeadd;
	color: #666;
	border-radius: 5px;
}

/*fluid MAIN CONTENT (posts)*/
#content{
	width: 70%;
	float: left;
	overflow: auto;
}

#content article{
	border-radius: 5px;
	background: #fff;
	overflow: auto;
	padding: 10px 20px;
	margin-top: 10px;
}

#content article span {
	font-style: italic;
	color: #000;
}


/*BUTTON*/
#content a.readmore{
	display: block;
	float:right;
	color: #fff;
	padding: 5px 9px;
	background: #c13046;
	border-radius: 5px;	
}

#content a.readmore:hover{
	background: #000;
}


/*since it is on the side of the main content the width should add up with main content size percentage*/
#sidebar {
	width: 30%;
	float: left;
}

#sidebar .block{
	border-radius: 5px;
	background: #fff;
	overflow: auto;
	padding: 10px 15px;
	margin: 10px 0 0 10px;
}

/*FOOTER*/
footer{
	background: #882433;
	height: 40px;
	border: 1px solid #c13046;
	margin-top: 10px;
	border-radius: 5px;
}
footer p{
	color: #fff;
	margin: 0;
	padding-top: 10px;
}
